<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/mybatis-spring-zk.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${catalina.base}/logs/mybatis-spring-zk.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.zkoss" level="ERROR">
		<appender-ref ref="FILE"/>
	</logger>
	<logger name="net.learntechnology" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="FILE"/>
	</logger>
	<logger name="net.learntechnology.empmaint.mapper" level="${MYBATIS_LOG_LEVEL}" additivity="false">
		<appender-ref ref="FILE"/>
	</logger>
	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>